<section>
    <div class="container">
        <div *ngIf="loading" class="row mt-5">           
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary text-center" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>                     
        </div>
        <div class="row"> 
            <div *ngFor="let product of products;" class="col-4 mb-4">
                <app-product-item [product]="product"></app-product-item>             
            </div>       
        </div>        
    </div>    
</section>
