<section>
    <div class="container">
        <div class="row"> 
            <div class="card col-12 mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="450" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>  
                    </div>
                    <div class="col-8">
                        <h5 class="mt-5">{{ product.name }}</h5>
                        <span>Autor: {{ product.author }}</span>
                        <app-star [rating]="product.rating"></app-star>
                        <br>
                        <small>Vendido e entregue por: Bookstore</small>
                        <h3 class="mt-2">{{ product.price | currency:'BRL' }}</h3>
                        <i class="fa fa-credit-card"></i>                       
                        <small>
                            <em> 1x no crédito</em>
                        </small>
                        
                        <form class="row g-3 mt-3"> 
                            <div class="col-auto p-2">                              
                               <label for="">Calcular frete</label>
                            </div>                                                      
                            <div class="col-auto">                              
                              <input type="text" class="form-control" id="cep" placeholder="Digite seu CEP">
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary mb-3">Calcular</button>
                            </div>
                          </form>

                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-flat btn-success">COMPRAR</button>            
                        </div>
                    </div>
                  </div>
                </div>
            </div>    
        </div>        
    </div>
    <div class="container">
        <div class="row">
            <div class="card col-12 mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        Descrição
                    </h5>
                    <p>{{ product.description }}</p>
                </div>
            </div>    
        </div>
    </div>    
</section>